.rounded1{
    /* border:4px solid red; */
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    width: 90%;
    height: 60vh;
    margin-bottom: 10vh;
justify-content: center;
/* gap: 5vw; */
    
}
.vl {
    border-left: 1px solid rgb(0, 0, 0);
    height: 25vh;
    justify-content: center;
    margin-top: 19vh;
  }
.headpr{
    display:flex;
    flex-direction: column;
    /* border: 4px solid red; */
}
.upperbox{
    /* border : 4px dotted red; */
    height: 20vh;
    /* background: linear-gradient(90deg, #F5A825 0%, rgb(235, 219, 219) 100%); */
    background-image: url("../../../public/assets/top.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande','Lucida Sans', Arial, sans-serif;
    margin-bottom: 6vh;
}
.h1offer{
    margin-left: 2vw;
    margin-top: 8vh;;  
}
 .h1offer1{
    
 }
.upperbox h3{
    margin-left: 2vw;
} 
.continaerchatishere{
    /* border: 4px solid red; */
}


.chattttt{
    display: flex;
    flex-direction: column;
    position: fixed;
    /* border: 4px solid rgb(44, 33, 204);  */
    padding: 13px;
    /* height: 40vh; */
}
.catttt2{
    display: flex;
    flex-direction: column; 
}
.topof{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    /* border: 4px solid red; */
}
.imgchat{
    height: 140vh;
}
.chatbox{
display: flex;
flex-direction: column;
}
.buttondowm2{
    background-color: transparent;
    color: #000000;
    border: none;
    /* align-self:flex-end; */
    align-items: end;
    margin-left: 2vw;;
}
.inputwithsend{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 5px;
    /* margin: 0 auto; */
    /* margin-left: 190px; */
}
.allroom{
    display: flex;
    flex-direction: column;
}
.chatroom{
    display: flex;
    flex-direction: column;  
    /* border: 4px solid black; */
    width: 40%;
    justify-content: center;
    inline-size:30%;
    text-align: justify;
font-family: cursive;
}

.chatroom>h2{
    font-family: cursive;
  inline-size: 55%;
  /* justify-items: center; */
  margin-left: 6vw;
     
}
.chatroom>p{
    font-family: cursive;
  inline-size: 65%;
  /* justify-items: center; */
  margin-left: 6vw;
     
}
.chatroom1{
    /* border: 4px solid green; */
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
  
    
  
    /* align-items: center; */
    /* gap: 28px; */

}
.idroom{
    /* width: 180px; */
    /* height: 50px; */
    margin: 0 auto;
    /* padding: 5px; */
    margin-top: 10px;
    /* border: 4px solid black; */
    width: 60%;
    height: 5vh;
    /* padding: 12px; */
    border-radius: 2px;
    border-top: black;
    border-right: black;
    border-left: black;
    /* border: 1px solid rgb(0, 0, 0); */
    /* box-shadow: 2px 2px 2px 2px rgba(83, 83, 74, 0.178); */
    background-color: rgba(179, 187, 204, 0.116);
    font-size: 0.9rem;
    margin-top: 2vh;
    font-size: 1.1rem;
    /* margin: 0 auto;
    margin-right: 10px; */
}
.titileroom{
    border-bottom: 1px solid black;
    width: 60%;
    margin-top: 10px;
    margin-left: 5vw;
}
.enterroom{
    width: 60%;
    height: 5.5vh;
    margin: 0 auto;
    padding: 5px;
    margin-top: 10px;
    /* padding: 14px 14px; */
    border-radius: 2px;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    border: none;
}

.enterroom:hover{
    background-color: transparent;
}

.allchat{
    display: flex;
    flex-direction: column;
  
    
}

.chatdeteles{
    border: 1px solid black;
    inline-size: 500px;
    margin: 0 auto;
    margin-top: 10px;
    background: #A3BB98;
    border-radius: 6px;
    margin-bottom: 4px;
    max-width: 600px;
    padding: 5px;
    height: 100px;
    white-space: 0;
    border: 1px salmon solid;
    height: 80px;
    font-weight: bold;
    
}

.white{
    /* height: 60vh; */
}
.continaerchat{
    /* padding: 16px 20px 20px 16px; */
    /* padding: 14px; */
  /* margin-right: 16px; */
  /* margin-top: 2vh; */
  width: 50%;
  border-radius: 6px;
  margin-left: 10vh;
  /* height:60%; */
  /* border: 4px solid #755f64; */
  font-size: 0.9rem;
  /* margin: 0 auto; */
  background: linear-gradient(90deg, rgb(236, 226, 197) 0%, rgba(156, 156, 152, 0.829) 100%);
  /* background-image: url("https://i.pinimg.com/564x/40/16/0c/40160cbc1a292d85532585859b9b513c.jpg"); */
  background-size: 100%;
  /* position: fixed; */
  
}

.continaerchat>video {
    position: fixed;
    /* right: 0; */
    /* bottom: 0; */
    /* min-width: 5%; */
    /* min-height: 5%; */
  }
 
.datamessage{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
white-space: 0;
}
.continaerchatishere1{
    display: flex;
    flex-direction: column; 
}
.date{
 
}
.messagein{
    text-align: left;
    white-space: 0;
}
.continaerchatishere{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6vw;
    margin-bottom: 8vh;
}

.messageonly{
    display: flex;
    flex-wrap: wrap;
    white-space: 0;
    top:0;
}


.bbb{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRU9FlxHRHUCL02FBN2YlR9DZxxxKBxhrawzg&usqp=CAU");
}

.sidechat{
   
    /* border: 4px solid green; */
    /* margin-left: 90px; */
    inline-size: 200px;
    /* margin-top: 15vh; */
    /* height: 100%; */
    width:20vw;
    background-color:  #98a3bb00;
    /* border: inset; */
    padding: 5px;
}

.sidechat>p,.sidechat>ul{

text-align: left;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
}
.sidechat>h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
}
.inputmessage{
    width: 300px;
}
.chattttt{
    /* border: 4px solid red; */
        height: 75vh;
        overflow-y: scroll;
       
    
}



.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-5:hover,
.button-5:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}
.buttondowm{
    background-color: transparent;
    /* margin-left: 750px; */
    border: none;
    color: rgb(255, 255, 255);
}
.navbar8{
    /* position: relative; */
    position: sticky;
}
.chattttt{
    position: sticky;
}
