

.scroll{
    /* width: 50px;
    height: 50px;
    border: 1px solid salmon; */
}

.chattttt{
    display: flex;
    flex-direction: column;
    /* background-color: #c85000; */
}
.catttt2{
    display: flex;
    flex-direction: column; 
}
.topof{
    display: flex;
    flex-direction: row; 
}
.chatbox{
display: flex;
flex-direction: column;
}
.buttondowm2{
    background-color: transparent;
    color: #fa6400;
    border: none;
}
.inputwithsend{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 5px;
    /* margin: 0 auto; */
    /* margin-left: 190px; */
}
.chatroom{
    display: flex;
    flex-direction: column;  
    border: 1px solid black;
    inline-size: 500px;
    margin: 0 auto;
    gap: 5px;
    /* background-color: blue; */
    /* height: 400px; */
    width: 350px;
    margin-top: 60px;
    height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background:#F0ECCF;
  width: 400px;
  margin: 0 auto 0 auto;
  padding: 32px;
  height: 300px;
  margin-top: 60px;
 
}
.chatroom1{
    background:#A3BB98;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
 width: 350px;
 padding: 32px;
}
.idroom{
    width: 180px;
    /* height: 50px; */
    margin: 0 auto;
    padding: 5px;
    margin-top: 10px;
    border: 1px solid black;
    width: 100%;
    /* padding: 12px; */
    border-radius: 6px;
    border: 1px solid rgb(255, 255, 255);
    font-size: 0.9rem;
    margin: 0 auto;
    margin-right: 10px;
}
.enterroom{
    width: 150px;
    height: 50px;
    margin: 0 auto;
    padding: 5px;
    margin-top: 10px;
    padding: 14px 14px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    border: none;
}

.enterroom:hover{
    background-color: #F0ECCF;;
}

.allchat{
    display: flex;
    flex-direction: column;
  
    
}

.chatdeteles{
    border: 1px solid black;
    inline-size: 500px;
    margin: 0 auto;
    margin-top: 10px;
    background: #A3BB98;
    border-radius: 6px;
    margin-bottom: 4px;
    max-width: 600px;
    padding: 5px;
    height: 100px;
    white-space: 0;
    border: 1px salmon solid;
    height: 80px;
    font-weight: bold;
    
}

.continaerchat{
    padding: 16px 20px 20px 16px;
    padding: 14px;
  margin-right: 16px;
  width: 60%;
  border-radius: 6px;
  border: 1px solid #A3BB98;
  font-size: 0.9rem;
  margin: 0 auto;
  background-color: #F0ECCF;
}
.datamessage{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
white-space: 0;
}

.date{
 
}
.messagein{
    text-align: left;
    white-space: 0;
}
.continaerchatishere{
    display: flex;
    flex-direction: row;
}

.messageonly{
    display: flex;
    flex-wrap: wrap;
    white-space: 0;
    top:0;
}


.bbb{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRU9FlxHRHUCL02FBN2YlR9DZxxxKBxhrawzg&usqp=CAU");
}

.sidechat{
   
    border: 1px solid rgb(255, 255, 255);
    margin-left: 90px;
    inline-size: 200px;
    margin-top: 50px;
    height: 300px;
    background-color:  #98a3bb00;
    border: inset;
}
.inputmessage{
    width: 300px;
}
.chattttt{
        height: 520px;
        overflow-y: scroll;
       
    
}



.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-5:hover,
.button-5:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}
.buttondowm{
    background-color: transparent;
    margin-left: 750px;
    border: none;
    color: blue;
}