.setting-containerwork{
    /* border: 4px solid blue; */
    display: grid;
    grid-template-columns: 2fr 8fr ;
    grid-template-areas: "a b ";
    gap:6vw;
    background-color: rgba(195, 189, 189, 0.723);
  }
  
  .leftwork{
      /* border: 4px solid black; */
      height: 100vh;
      /* margin-left: 2vw; */
    }
    .settingwork{
      /* border: 4px solid rgb(245, 24, 135); */
  height: 100%;
    }
    .centerwork{
      /* border: 4px solid brown; */
      display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    gap:4vh;
    justify-content: center;
    margin-left: 6vw;
    }
    form{
        /* border: 4px dotted black */
        
    }
    
    .Samples{
        /* border:4px solid black; */
      
    }