
.hero-container>video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
  }
  
  .hero-container {
    /* background: url('./work.mp4') center center/cover no-repeat; */
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.467);
    object-fit: contain;
  }
  .qa{
    margin-bottom: 2vh;
  }
  .hero-container > h1 {
    color: rgb(255, 255, 255);
    font-size: 80px;
    margin-top: -100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  }
  
  .hero-btns > h2 {
    margin-top: 8px;
    color: #a5c226;
    /* font-size: 70px; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  .hero-container > p {
    margin-top: 8px;
    color: wheat;
    /* font-size: 0.2em; */
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  .rest-section{
    background-color: rgba(195, 189, 189, 0.723);
    display: flex;
    flex-direction: column;
    gap: 10vh;
  }
  .hero-btns {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    width:50%;
    
    
  }
  
  
  .hero-btns .btn {
    margin: 6px;
    width: 200px;

  }
  
  .one,
  .two {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap: 35%; */
    width:100%
  }
  
  .one > p,
  .two > p {
    margin-top: 0;
    margin-bottom: 1rem;
    width:100%;
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande','Lucida Sans', Arial, sans-serif;
    text-align: left;
    font-size: 1.3rem;

  }

  .fa-play-circle {
    margin-left: 4px;
  }
  .second-sec{
    background-color: white;
    /* border:4px solid red; */
    display: flex;
    flex-direction: column;
    gap: 2vw;

  }
  .second-sec>h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande','Lucida Sans', Arial, sans-serif;
  }
  .cards-a,.cards-b{
    /* border: 4px solid green; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3vw;
  }
  .achieve-fast,.hire-best,.less-cost,.secure-pay,.cover-skills,.rights{
    /* border: 4px solid black; */
    width: 100%;
  }
  .achieve-fast>p,.hire-best>p,.less-cost>p,.secure-pay>p,.cover-skills>p,.rights>p{
    /* font-weight: bold; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande','Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 1.5rem;
    margin-left: 1vw;
  }

.third-sec{
  background-color: white;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  gap:5vh;
  margin-top: 4vh;
  /* border: 4px solid red; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande','Lucida Sans', Arial, sans-serif;

}
.vedioandpoints{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 4px solid rgb(85, 255, 0); */
}
.points{
  display: flex;
  flex-direction: column;
  text-align: left;
  /* border: 4px solid blue; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande','Lucida Sans', Arial, sans-serif;
width:50%;
margin-left: 2vw;

}

.vedio-third{
  /* border: 4px solid black; */
  width: 40%;
}
.vedio-third>video{
  width:100%;
  height: 100%;
}
.keepintouch{
  display: flex;
  flex-direction: row;
  /* border: 4px solid red; */
  width: 100%;
  /* justify-content: space-between; */
  /* border:4px solid yellow; */

}
.keepimg{
  width:60%;
  /* margin-right: 3vw; */
  /* height: 80%; */
  /* border:4px solid blue; */
  /* margin-left: 27vw; */
  margin-top: 0vh;
  border-radius: 5%;
  padding: 0px;
  margin-left: 0vw;

  /* margin-bottom: 2vh; */
}
.vertical{
  /* border:4px solid red; */
  width:30%;
  margin-left: 12vw;
}
.keepintouchimg{
  /* border:4px solid red; */
  width: 50%;
  height: 50%;
margin-left: 2vw;
}


/* CSS */
.button-17 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}


/* CSS */
.button-23 {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button-23:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.button-23:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.button-23:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}
  @media screen and (max-width: 960px) {
    .hero-container > h1 {
      font-size: 70px;
      margin-top: -150px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .hero-container > h1 {
      font-size: 50px;
      margin-top: -100px;
    }
  
    .hero-container > p {
      font-size: 30px;
    }
  
    .btn-mobile {
      display: block;
      text-decoration: none;
    }
  
    .btn {
      width: 100%;
    }
  }
  @media screen and (min-width: 960px) {
    .one,
    .two {
      flex-direction: row;
      gap: 3rem;
      max-width: 100%;
    }
    
  
  @media screen and (min-width: 960px) {
    .one,
    .two {
      flex-direction: row;
      gap: 3rem;
      max-width: 100%;
    }
    .one > p,
    .two > p {
      margin-top: auto;
      margin-bottom: auto;
      max-width: 100%;
    }
  }
  
  @media screen and (max-width: 960px) {
    .hero-container > h1 {
      font-size: 70px;
      margin-top: -150px;
    }
  }
  .title>h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande','Lucida Sans', Arial, sans-serif;

  }
 
  @media screen and (max-width: 768px) {
    .hero-container > h1 {
      font-size: 50px;
      margin-top: -100px;
    }
  
    .hero-container > p {
      font-size: 30px;
    }
  
    .btn-mobile {
      display: block;
      text-decoration: none;
    }
  
    .btn {
      width: 100%;
    }
  }
  
  .rest-section {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10vh;
  }
  
  .second-sec {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 2vw;
  }
  
  .second-sec > h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  }
  
  .cards-a,
  .cards-b {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3vw;
  }
  
  .achieve-fast,
  .hire-best,
  .less-cost,
  .secure-pay,
  .cover-skills,
  .rights {
    width: 100%;
  }

}
