.bioandskills {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    grid-template-areas: "a b c";
    height: 100vh; /* Set the container to take up the full height of the viewport */
  }
  
  .left {
    /* grid-area: a; */
    height: 100%; /* Set the height of the left column to take up the full height of the container */
  }
  
  .center {
    grid-area: b;
    display: flex;
    justify-content: center;
    align-items: center;
   
    height: 100%; /* Set the height of the center column to take up the full height of the container */
    gap:4vh;
  }
  
  .right {
    grid-area: c;
    height: 100%; /* Set the height of the right column to take up the full height of the container */
  }
  .choose-skills{
    display: flex;
    flex-direction: column;
    gap:2vh;
  }
  .bio-button{
    margin-top: 2vh;
  }