.bioandskills{
  border: 4px solid blue;
  display: grid;
  grid-template-columns: 2fr 8fr ;
  grid-template-areas: "a b ";
  gap:6vw;
  background-color: rgba(195, 189, 189, 0.723);
}

.leftbio{
    border: 4px solid black;
    height: 100vh;
  }
  .settingbio{
    /* border: 4px solid rgb(245, 24, 135); */
height: 100%;
  }
  .centerbio{
    border: 4px solid brown;
    display: flex;
  flex-direction: column;
  width: 95%;
  height: 100%;
  gap:3vh;
  }
  .choose-skills{
    /* border: 4px solid green; */
    margin-top: 8vh;

  }
  .save-button{
    /* border: 4px solid olive; */

  }
  .Bio{
    /* border: 4px solid rgb(0, 100, 128); */
    margin-top: 3vh;
    width: 60%;
    align-self: center;


  }
  .bio-button{
    /* border: 4px solid rgb(119, 70, 102); */

  }
  .experiance{
    /* border: 4px solid yellow; */
    display: inline-block;
    width: 50%;
    align-self: center;

  }