.navbar {
  background: white;
      height: 10vh;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    font-size: 1.2rem;
    /* position: sticky;
    top: 0;
    z-index: 999; */
    /* border: 4px solid rgb(153, 0, 255); */
  }
  
  .navbar-container {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    /* align-self: flex-start; */
    height: 100%;
    width: 100%;
    /* max-width: 1500vw; */
    /* border: 4px solid red; */
  }
  
  .logoimg{
    margin-top: 0.5vh;
    width:8vw;
    height: 8vh;
    margin-left: 1vw;
  }
  
  .nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    /* margin: 0; */
    margin-left: 2vw;;

    padding: 0;
    width: 40vw;
    justify-content: flex-start;
    /* border: 4px solid blue; */
  }
  
  .nav-item {
    font-size: 1.1rem;
  }
  
  .nav-links {
    color: #000000;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 0.5rem ;
    height: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* border: 5px solid orangered; */
  }
  
  .nav-links:hover {
    border-bottom: 4px solid #fff;
    transition: all 0.2s ease-out;
  }
  
  .fa-bars {
    color: #000000;
  }
  
  .menu-icon {
    position: relative;
    display: none;
  }
  
  .mesagebutton {
    margin-left: 10px;
    background-color: transparent;
    border: none;
    outline: none;
  }
  
  .billbutton {
    background-color: transparent;
    border: none;
    outline: none;
    margin-left: 2vw;
  }
  
  .prfile {
    margin-left: 10px;
  }
  
  .imgprofile {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  
  .buttonnotifaction {
    border: none;
    color: rgb(225, 222, 10);
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .popupsection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  
  .popupsection h1 {
    margin-bottom: 20px;
  }
  
  .popupsection img {
    height: 100px;
    margin-bottom: 20px;
  }
  
  .popupsection p {
    margin-bottom: 20px;
  }
  
 @media screen and (max-width: 960px) {
   
    .navbar-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* align-self: flex-start; */
        height: 100%;
        width: 90%;
        /* max-width: 1500vw; */
        /* border: 4px solid red; */
      }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 7.5vh;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #807b7b;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    height: 60vh;
    width:100vw;
  }

  .nav-links {
    text-align: center;
    padding: 1rem;
    width: 100%;
    display: table;
    height: auto;
    font-size: 3rem;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }

  .logoimg {
    position: absolute;
    top: 0;
    left: 0;
  }

  .menu-icon {
    display: block;
    position: absolute;
    /* top: 0; */
    right: 0;
    /* margin-left: 1vw; */
    margin-bottom: 8vh;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    /* border: 4px solid black; */
  }

  .fa-times {
    color: #000000;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 100%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
}
