.headpr{
    display:flex;
    flex-direction: column;
    /* border: 4px solid red; */
}
.upperbox{
    /* border : 4px dotted red; */
    height: 15vh;
    /* background: linear-gradient(90deg, #F5A825 0%, rgb(235, 219, 219) 100%); */
    background-image: url("../../../public/assets/top.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande','Lucida Sans', Arial, sans-serif;

}
.upperbox h1{
    margin-left: 2vw;
} 

.projects{
    display: grid;
  grid-template-columns: 2fr 8fr ;
  grid-template-areas: "a b";
  gap:12vw;
  /* border: 4px solid blue; */
  /* background-color: rgba(195, 189, 189, 0.723); */
    /* display: flex;
    flex-direction: row;
        
        gap:30vw */


}
.projectcard{
    display: flex;
    flex-direction: column; 
    /* border: 10px solid green; */
    /* margin-top: 2vh; */
 
}
.projectcard1{
    display: flex;
    flex-direction: column; 
    /* border: 4px solid rgb(197, 42, 42); */
    width: 85%;
    box-shadow: 2px 2px 2px 2px rgba(83, 83, 74, 0.459);
    border-radius: 5px;
    margin-bottom: 3vh;
    height: 22%;
    margin-top: 2vh;
    /* background-color: rgba(199, 192, 192, 0.373); */
    /* margin-top: 20px;
    margin-left: 40px; */
}

.statucwithtitle{
    display: flex;
    flex-direction: row; 
    margin-top: 10px;
    margin-bottom: 5vh;
    /* border: 4px solid yellow; */
  
}

.titelproj{
    margin-left: 10px;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: transparent;
    border: none;
    
}
.statusproj{
    margin-left: 20px;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    background-color: rgb(71, 172, 71);
    border-radius: 5px;
    border: none;
    font-weight: bold;
    /* border:4px solid green; */
}

.projectDescrption{

    background-color: transparent;
    border: none;
    /* margin-right: 400px; */
    margin-bottom: 5vh;
    /* border:4px solid brown; */
    width:100%;
    text-align: left;
       
}

.magortiwithaddoffer{
    display: flex;
    flex-direction: row;
    /* border:4px solid blue; */
}
.projectmajorti{
    inline-size: 100px;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    font-weight:550;
    height: 45px;
    /* border:4px solid sienna; */
}

.addoffer{
   /* border:4px solid pink; */
    inline-size: 100px;
    margin-top: 20px;
    margin-left: 550px;
    margin-bottom: 10px;
      /* background-color: rgb(255, 136, 0); */
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    /* border: none; */
    /* font-weight:550; */
    height: 40px; 
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgba(112, 99, 76, 0.322);
 
}
.filterside{
   
    color: black;
    margin-left: 20px;
    width: 250px;
    box-shadow: 2px 2px 2px 2px rgba(83, 83, 74, 0.459);
    border-radius: 5px;
    margin-top: 70px;
    height: 500px;
    font-size: 20px;
    text-align: left;
    padding: 5px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande','Lucida Sans', Arial, sans-serif;
       /* border:4px solid red; */
     /* background-color: aqua; */
      display:flex;
      flex-direction: column;
      gap:2.3vh;
      

}

.hr{
    inline-size: 150px;
    margin-left: 50px;
}
.title{
    color: black;
font-family:monospace;
font-weight: bold;
font-size: 15px;
}
.titleofprojects{
/* border: 4px solid black; */


}
.hrunder{
    inline-size: 150px; 
}
.hr1{
    inline-size: 130px;
    /* border:4px solid blue; */

}
.list{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(83, 83, 74, 0.459);
    font-size: 15px;
    font-weight: bold;
    /* border:4px solid orange; */
}
.price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 10px;
    gap:9vw;
    /* border:4px solid yellow; */

}
.inputscale{
    inline-size: 230px;
}
.dollar{
font-size: 15px;
font-weight: bolder;
}
.backmore{
    margin-top: 10px;
 padding: 5px;
 margin-left: 8px;
 box-shadow: 1px 1px 1px 1px rgba(83, 83, 74, 0.459);
background-color: rgba(106, 106, 112, 0.349);
border: none;
cursor: pointer;
border-radius: 5px;
}


