.postprojectpage
{
    display: flex;
    flex-direction: row;
    
}


.postproject{
    display: flex;
    flex-direction: column;
  margin-left: 30px;
  /* background: #2c57772d; */
  /* margin-top: 20px; */
   
}
.under{
    inline-size: 200px;
    margin-left: 10px;
}
.buget{
    display: flex;
    flex-direction: row;
    
}
/* .headline{
    font-size: 20px;
    margin-right: 100px;
}
.inputadd{
    inline-size: 500px;
} */
.inputadd{
    height: 50px;
    width: 800px;
}
.inputadd1{
    height: 250px;
    width: 800px;
}
.inputadd2{
    height: 30px;
    width: 320px;
  margin-right: 10px;
}
.priceanday{
    display: flex;
    flex-direction: row; 
}
.day{
    display: flex;
    flex-direction: column; 
    margin: 0 auto;
 
}
.selecthere{
    inline-size: 80ch;
    margin:0 auto ;
    height: 60px;
    border-radius: 5px;
    border: null;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.vertical {
    border-left: 2px solid rgba(36, 36, 46, 0.397);
    height: 550px;
    margin-left: 10px;
    margin-top: 90px;
    /* position:absolute; */
    /* left: 50%; */
    margin-right: 500px;
  }


.addbutton{
    inline-size: 200px;
    margin: 0 auto;
    height: 30px;
    cursor: pointer;
}


.popup1{
   width: 500px;
}
.invite1{
    display: flex;
    flex-direction: row;
    line-height: 0px;
    white-space: 0px; 
    border: 1px solid rgba(71, 67, 71, 0.459);
    padding: 5px;
    margin-top: 2px;
    
}
.invite2{
    display: flex;
    flex-direction: row;
    line-height: 0px;
  
    white-space: 0px; 

    
}
.invite3{
    display: flex;
    flex-direction: row;
    line-height: 0px;
    white-space: 0px; 
}

.button-8 {
    /* display: flex; */
    /* flex-direction: column; */
  background-color: #2148f8;
  border-radius: 5px;
  border: 1px solid #146dad;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  /* box-sizing: border-box; */
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.15385;
  /* margin: 0; */
  outline: none;
  padding: 8px .8em;
  /* position: relative; */
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  width: 60px;
  height: 30PX;
  font-weight: bold;
  line-height: 0px;
    white-space: 0px;
  margin-top: 10px;
  /* margin-left: 200px; */
  /* padding: 5px; */
  
  /* float: right; */
}

.button-8:hover,
.button-8:focus {
  background-color: #44515a3f;
  color: #49545c;
}

.button-8:focus {
  box-shadow: 0 0 0 4px rgba(97, 151, 190, 0.15);
}

.button-8:active {
  background-color: #333f47;
  box-shadow: none;
  color: #607686;
}

.imginvite{
    border-radius: 50%;
    /* margin-left: 20px; */
}
.nameinvit{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;

}

.maginv{
    line-height: 0px;
    white-space: 0px;
}
.buttoninv{
    line-height: 0px;
    white-space: 0px;   
    /* display: flex; */
    /* flex-direction: column; */
    /* float: right; */
    margin-left: 200px;
}

