.footer-container {
  background: linear-gradient(90deg, rgb(48, 54, 103) 0%, rgb(117, 113, 113) 100%);
  padding: 4rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  border: outset;
  gap:2vh;
  
}
h2{
  font-family:"'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande','Lucida Sans', Arial, sans-serif"
}

p{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
  'Lucida Sans', Arial, sans-serif;
  font-size: large;
  text-align: justify;
  margin-left: 1vw;
  margin-right: 1vw;
}

@media screen and (max-width: 768px) {
}