
.profile-container{
  /* border: 4px solid blue; */
  display: grid;
  grid-template-columns: 2fr 8fr ;
  grid-template-areas: "a b ";
  gap:6vw;
  /* background-color: rgba(195, 189, 189, 0.723); */
bottom:0;
}
.fullcontainer{
  display:flex;
  flex-direction: column;
  /* border:4px solid green; */
  margin-bottom: 8vh;

}
.upperboxprofile{
  /* border : 4px dotted red; */
  height: 20vh;
  /* background: linear-gradient(90deg, #F5A825 0%, rgb(235, 219, 219) 100%); */
  background-image: url("../../../public/assets/top.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande','Lucida Sans', Arial, sans-serif;
  margin-bottom: 6vh;
}
.upperboxprofileh1{
  margin-left: 4vw;
  margin-top: 4vh;
} 




.left{
  /* border: 4px solid red; */
  /* height: 90%; */


}
.center{
  /* border: 4px solid green; */
  display: flex;
  flex-direction: column;
  width: 95%;
  gap:4vh;
  margin-top: 2vh;


  }

.pr{
  /* border: 4px solid pink; */
  width: 100%;
}

.desc{
  /* border: 4px solid yellow; */
  width: 100%;
}
.sample{
  /* border: 4px solid orange; */
  width: 100%;
}

.card-container{
  box-shadow: 2px 2px 2px 2px rgba(83, 83, 74, 0.459);
  /* border: 1px solid rgb(186, 8, 8); */
  margin-left: 5vw;
  margin-bottom: 6vh;
  margin-top: 2vh;

}
.profileimg{
  width: 10vh;
  height:30vh; 
  /* border-radius: 500%; */
}

.skill{
  box-shadow: 2px 2px 2px 2px rgba(83, 83, 74, 0.459);
  width:78%;
  /* border: 4px solid black; */
  margin-left: 5vw;

}

.pdf{
  display: flex;
  flex-direction: row;
 justify-content: center;
}
