.profile-container{
  /* border: 4px solid blue; */
  display: grid;
  grid-template-columns: 2fr 8fr ;
  grid-template-areas: "a b ";
  gap:6vw;
  background-color: rgba(195, 189, 189, 0.723);

}

.left{
  /* border: 4px solid red; */
  height: 90%;

}
.center{
  /* border: 4px solid green; */
  display: flex;
  flex-direction: column;
  width: 95%;
  gap:4vh;
  margin-top: 2vh;

  }

.pr{
  /* border: 4px solid pink; */
  width: 100%;
}
.desc{
  /* border: 4px solid yellow; */
  width: 100%;
}
.sample{
  /* border: 4px solid orange; */
  width: 100%;
}

