 .main {
  display: grid;
  grid-template-columns: 2fr 8fr ;
  grid-template-areas: "a b";
  gap: 3vw;
}
.left {
  position: sticky;
  grid-area: a;
  display: flex;
  gap: 5vh;
  font-family: Montserrat, sans-serif;
  margin-left: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.center {
width:90%;
  grid-area: b;
  /* margin-right: 10%; */
  display: flex;
  flex-direction: column;;
  /* justify-items: center; */
  /* flex-wrap: wrap; */
  gap: 10vh;
}
.skill{
  width:100%
}
.pr{
  width:100%;
  /* display: flex;
  align-items: center; */
  /* justify-content: center; */
  /* flex-direction: row; */
  /* gap:1%; */
  /* flex-wrap: wrap; */
}