body{
    text-align: center;
     margin: 0;
    padding: 0;
    font-family: Cursive;
   overflow-x: hidden;
 
/* width: 100%;
height: 100%; */
}
button{
    font-family: Cursive;
    /* background-image: linear-gradient(24deg ,#309d0c 0% ,
  #4de252 100% ); */
  border: none;
  border-radius: 8%;
  font-size: 1rem;
  transition: transform.4s;
  cursor: pointer;
}
button:active{
    transform: translate(4px);
    box-shadow: 0px 0px 1px rgba(0,0,0,.2);
    border-bottom:none;
}
button:hover{
    transform:scale(1.1,1.1)

}


   input[type=text]:focus{
    outline: none;

    
    }
    input[type=email]:focus{
    outline: none;
        
    }
    input[type=password]:focus{
            outline: none;
           
            }
    input[type=number]:focus{
    outline: none;
               
    }
